body {
  max-width: 1170px;
}

.header {
  max-width: 1170px;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   width: 576.1px;
  //   height: 418.78px;
  //   left: 1200px;
  //   top: -99px;
  //   background: #fb9300;
  //   filter: blur(800px);
  // }
  // &::after {
  //   content: "";
  //   background-image: url(../../images/vector_1.svg);
  //   position: absolute;
  //   width: 718px;
  //   height: 312.78px;
  //   left: 1050px;
  //   top: 30.89px;
  //   transform: rotate(0deg);
  //   z-index: 1;
  // }
  .nav-item {
    margin-right: 50px;
    &:last-child {
      margin-right: 0px;
    }
  }
  .bg-light {
    background-color: transparent;
  }
  .navbar-brand {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
  }
  .orange-color {
    color: #fb9333;
  }
  .nav-link {
    font-family: sans-serif;
    font-weight: 600;
    color: #575757 !important;
  }
  .container-fluid {
    padding: 0;
  }
}

.cup {
  &__text {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 2.2em;
    line-height: 130%;
    color: #fb9333;
  }
  &__text span {
    color: #575757;
  }
  .col img {
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .mb-5 {
    margin-bottom: 90px;
  }
  .btn-warning {
    margin-bottom: 48px;
  }
}

.info {
  padding-top: 80px;

  .p-2 {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #575757;
    margin-right: 1em;
    span {
      font-weight: 500;
      font-size: 16px;
      color: #828282;
    }
  }
}

.header__big-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 42px;
  text-transform: uppercase;
  font-size: 18px;
  background: #fb9333;
  border-radius: 100px;
  border: none;
  font-weight: 600;
}

.d-grid {
  margin-top: 50px;
  justify-content: center;
}

.cards {
  margin-top: 6rem;
  &__col {
    max-width: 375px;
  }
  &__img {
    max-width: 374px;
  }
  &__text {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #3a3636;
    text-align: center;
    padding-top: 15px;
  }
  &__btn {
    display: flex;
    max-width: 170px;
    padding: 10px 24px;
    border: none;
    background: #fb9333;
    border-radius: 100px;
  }
  &__header {
    color: #fb9333;
    margin-bottom: 45px;
    text-align: center;
  }
}
.raisins {
  padding-top: 105px;
  .orange-color {
    color: #fb9333;
  }
  &__header_text {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
  }
}

.form {
  margin-top: 135px;
  max-width: 1170px;
  max-height: 550px;
  border-radius: 50px;
  background-color: #eaddca;
  position: relative;
  margin-bottom: 50px;
  &::after {
    content: "";
    position: absolute;
    background-image: url(../../images/vector_2.svg);
    background-position: center;
  }
  &__main-text {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 180%;
    text-align: center;
    color: #fb9333;
  }
  &__header-text {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 140%;
    text-align: center;
    color: #585858;
    max-width: 640px;
    margin: 0 auto;
    padding-bottom: 0.2em;
  }
  &__little-text {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    margin: 0 auto;
    color: #3a3636;
    opacity: 0.7;
    max-width: 540px;
    padding-bottom: 5em;
  }
  &__search-shape {
    padding-top: 68px;
    padding-bottom: 75px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  &__search {
    padding: 25px;
    border-radius: 50px;
  }
  &__search-form {
    display: flex;
    justify-content: center;
    max-width: 700px;
  }
  &__search-button {
    position: absolute;
    border-radius: 50px;
    background-color: #fb9333;
    border: none;
    color: white;
    z-index: 20;
  }
}

.about-us {
  &__col-inner {
    max-width: 530px;
    text-align: justify;
    padding: 0;
    &:last-child {
      margin-right: 0;
    }
  }
  &__icons {
    width: 200px;
    text-align: center;
  }
  &__header {
    margin: 0;
    color: #fb9333;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 180%;
    text-align: center;
    color: #fb9333;
  }
  &__inner-text_1 {
    font-weight: 600;
    color: #fb9333;
  }
  &__inner-text_2 {
    font-weight: 600;
  }
}

.footer {
  .bi-geo-alt-fill,
  .bi-linkedin,
  .bi-twitter,
  .bi-instagram,
  .bi-envelope-fill,
  .bi-telephone-fill {
    color: #fb9333;
  }
  &__links {
    color: #3a3636;
  }
  &__socials {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 1300px) {
  .header::after,
  .header::before {
    display: none;
  }
}
